@font-face {
  font-family: "Starjedi Regular";
  src: url("fonts/Starjedi Regular.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://lumiere-a.akamaihd.net/v1/images/star-wars-backgrounds-38_d0dbbfb4.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: left-top;
  background-color: black;
  color: white;
  font-size: 0.6rem;
  letter-spacing: 1.8px;
}

.App {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-content: center;
  padding: 0 20%;
  min-height: 100vh;
  font-family: "Starjedi Regular";
  font-weight: lighter;
}

h1 {
  color: rgba(200, 200, 200, 15);
}

p {
  font-size: 0.9rem;
  font-weight: normal;
}

.accordeon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(200, 200, 200, 0.6);
  margin: 0.5rem auto;
  padding: 1%;
  border-radius: 1rem;
}

.accordeon__title {
  padding: 1 2rem;
  font-weight: 900;
  font-size: larger;
  color: gold;
}

.accordeon__detail {
  padding: 0.5rem 2rem 0.5rem;
  background-color: rgba(207, 97, 97, 0.2);
  margin: 1%;
}
.accordeon__detail p {
  line-height: 1;
}
.accordeon__detail span {
  font-weight: bold;
  color: rgb(70, 0, 0);
}
